<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">

    <property name="charset" value="UTF-8"/>


    <!-- File checks -->

    <module name="LineLength">
        <property name="max" value="120"/>
        <property name="ignorePattern" value="^package.*|^import.*"/>
    </module>

    <module name="FileTabCharacter"/>


    <!-- Java code checks -->

    <module name="TreeWalker">

        <!-- Imports -->

        <module name="AvoidStarImport"/>


        <!-- Formatting -->

        <module name="WhitespaceAround"/>


        <!-- Naming -->

        <!-- Detects bad_method_name() -->
        <module name="MethodName"/>

        <!-- Detects BadVariable and wrong_variable -->
        <module name="LocalVariableName"/>

        <!-- Detects BAD_CONSTANT -->
        <module name="ConstantName"/>


        <!-- Documentation -->

        <module name="MissingJavadocType">
            <property name="scope" value="public"/>
        </module>

        <module name="JavadocMethod">
            <property name="accessModifiers" value="public"/>
        </module>


        <!-- Code quality -->

        <module name="TodoComment"/>

        <module name="EmptyBlock"/>

        <module name="MethodLength">
            <property name="max" value="60"/>
        </module>


    </module>

</module>
